* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  margin:20px;
  padding: 10px 20px;
}
h1{
  background-color: gray;
  padding: 30px 10px;
  border: 1px solid transparent;
  text-align: center;
}